**/__pycache__
**/.DS_Store
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
tests/dataset/*.pkl
tests/sandbox.ipynb
*.pyc
deepface/models/
tests/dataset/deepface/*
tests/dataset/canvas-asia-face-img/